<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DN18</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Vaje in DN18</h1>
    <li><a href="/">Prva stran</a></li>
    <li><a href="/guess_capital">Ugani glavno mesto</a></li>
    <li><a href="/forensics">Forenzicni app</a></li>



    {% block hello %}{% endblock hello %}
    {% block guess_capital %}{% endblock guess_capital %}
    {% block forensics %}{% endblock forensics %}
</body>
</html>